################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/donwload
/MAFCoreCallWebAPI/.vs/ProjectEvaluation
/MAFCoreCallWebAPI/.vs/MAFCoreCallWebAPI/FileContentIndex
/MAFCoreCallWebAPI/.vs/MAFCoreCallWebAPI/v16
/MAFCoreCallWebAPI/.vs/MAFCoreCallWebAPI/v17/HierarchyCache.v1.txt
/MAFCoreCallWebAPI/.vs/MAFCoreCallWebAPI/v17/.futdcache.v2
